#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.tasks {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.task {
  background-color: #eee;
  width: 320px;
  margin: 15px 0 0 0;
  padding: 10px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}